<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="JetstreamUrl" value="https://jetstreambeta.tersosolutions.com"/>
    <add key="UserAccessKey" value=""/>
    <add key="MessageCheckWindow" value="0.0:1:0"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
</configuration>
